
<section class="content">
    
       <article>
           <h1>Course Design Philosophy</h1>
           <hr>
           <p>Golf Course Design is our passion. Through a strategic and sustainable design
            philosophy, we create golf courses that are beautiful, fun to play, and inspire the
            soul. While considered an iconic brand, we pride ourselves on being a small firm
            with a hands-on approach. We focus our attention and energy on a small number of
            high quality projects so we can develop meaningful relationships with our clients
            and tend to the small but important details that make our courses unique and
            worthy of the golf game.
           </p>
           
       </article>
</section>


<div class="showBG">
    <div class="showBGtext">
       <span class="showBGtextborder">
        for all mankind
       </span>
    </div>

   <div class="showFG">
        <div class="showFGtext">
           <span class="showFGtextborder">
            design by legends
           </span>
        </div>
   </div>

</div>




<div class="container-fluid courses-pics">
   <div class="row">
  

      <div class=" figure col-xs-12 col-sm-6 col-md-4" *ngFor="let image of fullImagePath" >
           <img [src]="image[0]">

           <div class="overlay">
               <div class="text">
                   {{image[1]}}
               </div>
          </div>

      </div>

   </div>
</div>

