body {
  width:100%;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}




.content article {
    padding: 30px 5px 0 5px;
    max-width: 700px;
    margin: 0px auto;
    text-align: center;
}

h1 {
    color: #5D95E6;
    font-weight: 300;
}