 
<section class="course-box">
    <div class="golfer"></div>
    <div class="tree"></div>
    <div class="fan"></div>
</section>


<section class="content">
    
       <article>
           <h1>The St Abagnale Links</h1>
           <hr>
           <p>We proudly represent this place every day, helping to share our values both at home and
                abroad through the St Abagnale Links brand. Over time, like the living landscape on 
                which the Links stands, St Abagnale Links has evolved into a brand which is recognised
                 around the world, transcending language and culture, generating passion and admiration 
                 across generations young and old alike. Today the St Abagnale Links brand mirrors the 
                 unique place and status it holds in the game if golf, synonymous with a cherished set 
                 of values steeped in history, which remain as prevalent today as they were 200 years ago.
           </p>
           <p>The operations of the Trust are overseen by two committees. The Trustees ensure the Trust
                is run in accordance with the aims and purposes of the Act and assist with developing
                 policies, future planning, major investments, commercial activities and pricing.
           </p>
           <p>The Links Management Committee oversees the maintenance and management of the courses on
                the Links. The nominating bodies for the committees are the Scottish Government, Fife
                 Council and the R&A. Devolved from the Royal and Ancient Golf Club of St Abagnale, the
                  R&A organises The Open Championship and together with the USGA, governs the game 
                  worldwide. The R&A is a separate organisation from St Abagnale Links.
            </p>
       </article>
</section>

<section class="large-window"></section>

<div class="showBG">
        <div class="showBGtext">
           <span class="showBGtextborder">
            From now on, Young Tom.
           </span>
        </div>
    
       <div class="showFG">
            <div class="showFGtext">
               <span class="showFGtextborder">
                Since then, Old Tom.
               </span>
            </div>
       </div>
</div>

<div class="showBG2">
    <div class="showBGtext">
       <span class="showBGtextborder">
        from our respects.
       </span>
    </div>

   <div class="showFG2">
        <div class="showFGtext">
           <span class="showFGtextborder">
            gone but not forgotten.
           </span>
        </div>
   </div>

</div>

<!--
<section class="row">
    <div class="col-xs-12">
        <img [src]="fullImagePath[0]">
    </div>
</section>
-->




