<div class="col-md-8 col-md-offset-2">
    <form ngNativeValidate (ngSubmit)="onSubmit(f)" #f="ngForm">
         <div class="from-group">
             <label for="content">Content</label>
             <input 
                  type="text" 
                  id="content" 
                  class="form-control"
                  [ngModel]="message?.content"
                  name= "content"
                  required >
         </div>
         <br>
         <button type="button" class="btn btn-danger" (click)="onClear(f)">Clear</button>
        <button class="btn btn-primary" type="submit" >Save</button>
    </form>
    
</div>